/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/figtree-v6-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/figtree-v6-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/figtree-v6-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-gray-500: hsl(0, 0%, 42%);
}

body { 
    background-color: var(--color-yellow);
    font-family: 'Figtree';
    display: flex;
    justify-content: center;
}

main {
    background-color: var(--color-white);
    width: 336px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid black;
    margin-block: 219px;
    box-shadow: 10px 10px 0px black;
}

section h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

section p {
    color: var(--color-gray-500);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

#article-illustration {
    border-radius: 10px;
    width: 100%;
}

#category {
    background-color: var(--color-yellow);
    font-size: 14px;
    border-radius: 4px;
    height: 29px;
    width: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#category p {
    margin: 0;
    font-weight: 900;
}

#author{ 
    display: flex;
    align-content: center;
    margin-top: 24px;
}

#author img {
    margin: 0px 10px 0px 0px;
}

#author p {
    align-self: center;
    margin: 0;
    font-weight: 900;
    font-size: 14px;
}

#published {
    font-weight: 500;
    color: var(--color-gray-950);
    line-height: 1.5;
    font-size: 14px;
}

#content {
    font-weight: 500;
    color: var(--color-gray-500);
    font-size: 16px;
}

main h1:hover {
    color: var(--color-yellow);
}